@using System;
@using System.Collections.Generic;
@using System.Linq;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<KissCI.Web.Models.Project.BuildLogView>

@{
    ViewBag.Title = "Build Log";
    Layout = "Shared/_Layout";
}

<h4>@Model.Info.Category</h4>
<h1 class="page-header"><a href="@Url.Content("/project/" + Model.Info.ProjectName + "/builds")">@Model.Info.ProjectName</a></h1>

<div>
    @if (Model.Build.BuildResult.HasValue)
    {
        if (Model.Build.BuildResult.Value == KissCI.Internal.Domain.BuildResult.Success)
        {
            <h3 class="text-success">Success</h3>
        }
        else if (Model.Build.BuildResult.Value == KissCI.Internal.Domain.BuildResult.Failure)
        {
            <h3 class="text-danger">Failure</h3>
        }
        else if (Model.Build.BuildResult.Value == KissCI.Internal.Domain.BuildResult.Cancelled)
        {
            <h3 class="text-warning">Cancelled</h3>
        }
    }

</div>

<div class="table-responsive">
    <h5>Summary</h5>
    <table class="table table table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var msg in Model.Messages)
            {
                <tr>
                    <td>@msg.Time.ToString()</td>
                    <td>@(msg.Message == null ? "" : msg.Message)</td>
                </tr>

            }
        </tbody>
    </table>

    <div class="table-responsive">
        <h5>Log</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var msg in Model.Logs)
                {

                    <tr class="@(msg.LogType == KissCI.Internal.Domain.LogType.Error ? "danger" : "")">
                        <td>@msg.Time.ToString()</td>
                        <td>@msg.Message</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>