@model KissCI.Web.Models.Project.BuildLogView

@{
    ViewBag.Title = "Build Log";
}

<h4>@Model.Info.Category</h4>
<h1>@Model.Info.ProjectName</h1>

<div>
    @if (Model.Build.BuildResult.HasValue)
    {
        if (Model.Build.BuildResult.Value == KissCI.Internal.Domain.BuildResult.Success)
        {
            <h3 class="text-success">Success</h3>
        }
        else if (Model.Build.BuildResult.Value == KissCI.Internal.Domain.BuildResult.Failure)
        {
            <h3 class="text-error">Failure</h3>
        }
        else if (Model.Build.BuildResult.Value == KissCI.Internal.Domain.BuildResult.Cancelled)
        {
            <h3 class="text-warning">Cancelled</h3>
        }
    }

</div>

<div class="span12">
    <h5>Summary</h5>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var msg in Model.Messages)
            {
                <tr>
                    <td>@msg.Time.ToString()</td>
                    <td>@Html.Raw(msg.Message)</td>
                </tr>
                
            }
        </tbody>
    </table>

    <div class="log">
        <h5>Log</h5>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var msg in Model.Logs)
                {
                    <tr>
                        <td>@msg.Time.ToString()</td>
                        <td>@Html.Raw(msg.Message)</td>
                    </tr>
                
                }
            </tbody>
        </table>
    </div>
</div>